.modelViewer {
    position: relative;
    width: 100%;
    height: 200px;
    z-index: 102;
  
    &.fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: black;
    }
  
    .loading {
        position: absolute;
    }
  
    #viewer {
        height: 100%;
        position: relative;
        resize: vertical;
    }

    @import 'viewer/viewerOptions';
}