li {
    text-align: start;
    font-size: 15px;
    padding: 5px 5px 5px;
    border-bottom: 1px solid #343434;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    span {
        text-decoration: none;
        
        @include themify($themes) {
            color: themed('main-text');
        }

        &.moreInfo {
            font-style: italic;

            @include themify($themes) {
                color: themed('main-background-500');
            }
        }
    }
}