.table {
    position: relative;

    &.grid {
        display: grid;
        grid-template-columns: repeat(18, 1fr);
        gap: 5px;
        overflow-x: scroll;

        @include respond-to('medium') {
            gap: .2vw;
        }
    }

    &.list {
        display: flex;
        flex-direction: column;

        .h {
            display: none;
        }
    }
    
    @import 
        'periodicTableGrid/cell',
        'periodicTableGrid/legend',
        'periodicTableGrid/propertyChoice',
        'periodicTableGrid/watermark';
}

@import 'periodicTableGrid/elementSearch';