@import 'periodicTable__/legend';

.grid {
    display: grid;
    position: relative;
    grid-template-columns: repeat(18, 1fr);
    gap: 5px;
    overflow-x: scroll;

    @include respond-to('medium') {
        gap: .2vw;
    }
    
    @import 
        'periodicTable__/gridCell',
        'periodicTable__/watermark';
}