.footer {
  display: flex;
  flex-flow: row wrap;

  &__section {
    display: flex;
    flex-flow: row wrap;
  }

  &__item {
    display: flex;
    align-items: center;
  }

  &__icon {
    width: 1rem;
    height: 1rem;
  }
}