.globalSettings {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    svg {
        color: var(--main-text);
        width: 38px;
        cursor: pointer;
        padding: 8px;

        @include themify($themes) {
            color: themed('main-text');
        }
    }

    @import 
        'globalSettings/themeSwitch',
        'globalSettings/modeSwitch';
}