.table {
    position: relative;

    &.grid {
        display: grid;
        grid-template-columns: repeat(18, 1fr);
        gap: 5px;
    }

    &.list {
        display: flex;
        flex-direction: column;

        .h {
            display: none;
        }
    }
    
    @import 
        'periodicTable/cell',
        'periodicTable/legend',
        'periodicTable/watermark';
}