.tableWrap {
    overflow-x: scroll;

    .inline {
        position: relative;
        width: 100%;

        @include respond-to('large') {
            width: auto;
        }
    }

    .table li {
        position: relative;
        display: flex;
    
        @include pt-seriesify($button: false, $back: true, $child: '.mainInfo');
    }
    
    @import 
        'periodicTable/periodicTableGrid',
        'periodicTable/periodicTableList',
        'elementInfo/elementInfoInner/elementInfoList';
}