

.mainInfo {
    position: relative;
    z-index: 1;
    align-self: stretch;
    list-style: none;
    border: 1px solid;
    border-radius: 5px;
    min-height: min(6.7vw, 98px);
    display: grid;
    align-items: center;
    flex: 0 1 150px;

    @include themify($themes) {
        background: themed('main-background-opacity-90');
    }

    h2 {
        margin: 0;
    }

    h6 {
        font-size: clamp(0.5rem, 1vw, 0.67rem);
        font-weight: 400;
        margin: 0;

        @include respond-to('medium') {
            display: none;
        }
    }

    data {
        font-size: clamp(0.6rem, 1.3vw, 0.8125rem);
        font-weight: 500;
        margin: 0;
        margin-top: 0.3125rem;
    }

    .visualizer {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        z-index: 0;
        border-radius: 5px;
        background: #ffffff33;
    }
}

.elementInfoList {
    max-height: 200px;
    overflow-y: scroll;
    margin: 0 0 0 1rem;
    padding: 0;
    flex: 0 1 100%;

    li {
        font-size: 0.8rem;
        margin: 0;
    }
}