.configBlocks-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 105;
    width: 100%;
    transition: 0.5s cubic-bezier(.26,1.07,.85,1);

    button {
        font-size: 1rem;
        padding: 0.625rem 1.25rem;
        border-radius: 0 0 10px 10px;
        border-top: 0;
        display: flex;
        margin: 0 auto;
        align-items: center;
        position: absolute;
        bottom: -2.5rem;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        max-width: 18.68rem;
        
        svg {
            margin-left: 0.625rem;
            width: 0.9375rem;
            transition: 0.5s cubic-bezier(.26,1.07,.85,1);
        }
    }

    @import 'configBlocks/configBlocksLoop';
}