.elementHeader {
    justify-self: center;
    text-align: center;
    width: 100%;
    font-family: $text-font-stack;
    padding: 1.25rem;
    margin-bottom: 1.25rem;

    @include themify($themes) {
        background: themed('main-background-800');
    }
  
    h2 {
        font-size: 3rem;
        line-height: 1;
        margin: 0;
  
        span {
            font-size: 1.4rem;
        }
    }
  
    h3 {
        margin: 0;
  
        &.groupBlock {
            margin-top: 0.625rem;
            font-weight: 300;
        }
    }
}